<template>
  <ul class='list-group col-md-4'>
    <VideoListItem v-for="video in videos"
    :video="video"
    :key="video.etag"
    @videoSelect="onSelectedVideo"
    >
    </VideoListItem>
  </ul>
</template>

<script>
  import VideoListItem from './VideoListItem'
  export default {
    name: 'VideoList',
    props: {
      videos: Array
    },
    components: {
      VideoListItem
    },
    methods: {
      onSelectedVideo: function(video) {
        this.$emit('videoSelect', video);
      }
    }
  }
</script>

<style>
</style>