<template>
  <div v-if="video" class='col-md-8'>
    <div class='embed-responsive embed-responsive-16by9'>
      <iframe class='embed-responsive-item' :src='videoUrl' />
    </div>
    <div class='details'>
      <h4>{{ video.snippet.title }}</h4>
      <p>{{ video.snippet.description }}</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'VideoDetail',
    props: ['video'],
    computed: {
      videoUrl: function() {
        const { videoId } = this.video.id; //igual que id.videoId tienen el mismo nombre por eso se puede
        return 'https://www.youtube.com/embed/' + videoId
      }
    }
  }
</script>

<style scoped>
  .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

</style>