<template>
  <div class='container'>
    <SearchBar @termChange="onTermChange"></SearchBar>
    <div class='row'>
      <VideoDetail class='' :video="selectedVideo"></VideoDetail>
      <VideoList :videos="videos" @videoSelect="onSelectedVideo"></VideoList>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import SearchBar from './components/SearchBar'
  import VideoList from './components/VideoList'
  import VideoDetail from './components/VideoDetail'
  const API_KEY = 'AIzaSyA7UknJs9rmopwUyeXIAC8lAsL1Aq5jm2o'

  export default {
    name: 'App',
    data: function() {
      return {
        videos: [],
        selectedVideo: null
      };
    },
    components: {
      SearchBar,
      VideoList,
      VideoDetail
    },
    methods: {
      onSelectedVideo: function(video){
        this.selectedVideo = video;
      },
      onTermChange: function(searchTerm) {
        axios.get('https://www.googleapis.com/youtube/v3/search', {
          params: {
            key: API_KEY,
            type: 'video',
            part: 'snippet',
            q: searchTerm
          }
        }).then(response => {
          this.videos = response.data.items
        });
      }
    }
  };
</script>

